@media screen and (max-width: 1090px) {
  .services {

    .container {
      padding: 0;
    }
  }
}

@media screen and (max-width: 1030px) {
  .services {
    .services__background {
display: none;
    }
  }
}

@media screen and (max-width: 870px) {
  .services {

    &__text-content {
      padding: 27px 40px 27px 40px;
    }
  }
}

@media screen and (max-width: 800px) {
  .services {

    &__cards {
      align-items: center;
    }

    &__card {
      height: auto;
      max-width: 280px;
      max-height: 150px;
      overflow-y: hidden;
      transition: 1s;
    }
    &__card_open{
      transition: 1s;
      max-height: 400px;
    }
    &__card-image {
      height: 100px;
    }

    &__card_right {
      margin: 0;
    }

    &__text-content {
      padding: 13px 48px 16px 20px;
    }

    &__card-title {
      color: #056CDE;
      cursor: pointer;
      padding: 0 48px 16px 0;
    }

    &__link {
      display: none;
    }
  }
}

@media screen and (max-width: 585px) {
  .services {

    &__cards {
      flex-direction: column;
    }

    &__card {
      margin: 21px 0 18px 0;
    }

    &__card_right {
      margin: 0;
    }
  }
}
