.services {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 51px;

  .container {
    width: 100%;
    padding: 0 130px 0 100px;
    box-sizing: border-box;
  }

  &__cards {
    display: flex;
  }

  &__card {
    max-width: 450px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(118, 157, 202, 0.15);
    margin: 21px 50px 50px 0;
    height: 470px;
  }

  &__card_right {
    margin: 175px 0 0 0;
  }

  &__text-content {
    padding: 27px 65px 27px 40px;
    box-sizing: border-box;
  }

  &__card-image{
    width: 100%;
  }

  &__text {
    margin: 8px 0 16px 0;
    line-height: 24px;
    font-size: 16px;
  }

  &__link {
    color: #056CDE;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin: 10px 17px 0 0;
    line-height: 28px;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: #056CDE;
    }
    &:not([href]):not([tabindex]){
      color: #056CDE;
    }
    &:not([href]):not([tabindex]):hover{
      color: #056CDE;
    }
  }

  &__background {
    z-index: 0;
    position: absolute;
    right: 0;
    bottom: -610px;
  }
}
