.article {
  display: flex;
  justify-content: center;
  margin-bottom: 81px;
  position: relative;
  padding: 20px;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__photo {
    box-shadow: 0 4px 60px rgba(118, 157, 202, 0.15);
    object-fit: contain;
    max-width: 540px;
    margin-right: 20px;
  }

  &__right {
    width: 580px;
    margin-top: 80px;
  }

  &__text {
    line-height: 29px;
  }

  &__learn-more {
    margin-top: 36px;
    padding: 11px 65px;
  }

  &__background {
    z-index: 0;
    position: absolute;
    left: 0;
    bottom: -631px;
  }
}
