@media screen and (max-width: 1030px) {
  .header {
    &__links_desktop {
      display: none;
    }

    &__phone {
      display: none;
    }

    &__schedule-appointment_desktop {
      display: none;
    }

    &__button-open-menu {
      display: flex;
    }
  }
}

@media screen and (max-width: 470px) {
  .header {
    padding-top: 12px;
    margin-bottom: 0;
    &__logo {
      width: 132px;
    }
  }
}



