.header {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  box-sizing: border-box;
  margin-bottom: 76px;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
  }
  &__part {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-top: 4px;
    transition: 0ms;
  }

  &__links {
    display: flex;
    justify-content: space-between;
  }

  &__links_desktop {
    width: 313px;
    margin-left: 78px;
  }

  &__links_mobile {
    flex-direction: column;
    align-items: center;
  }

  &__link {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    line-height: 18px;
    font-size: 13px;
    cursor: pointer;
    margin-right: 10px;
    @include link();
  }

  &__link_mobile {
    font-size: 16px;
    margin-bottom: 30px;
    margin-right: 0;
  }

  &__phone {
    font-weight: bold;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    min-width: 122px;
    @include link();
  }

  &__schedule-appointment {
    min-width: 210px;
    min-height: 40px;
  }

  &__schedule-appointment_desktop {
    margin-left: 17px;
  }

  &__button-open-menu {
    position: relative;
    width: 26px;
    height: 18px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    cursor: pointer;
  }

  &__cross-line {
    position: relative;
    height: 2px;
    width: 100%;
    background: #056CDE;
    border-radius: 100px;
    transition: 400ms;

    &._open {
      transition: 400ms;

      &:nth-child(1) {
        transform: rotate(45deg) translateY(9px) translateX(7px)
      }

      &:nth-child(2) {
        opacity: 0
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translateY(-5px) translateX(2px)
      }
    }
  }

  &__mobile-menu {
    display: flex;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 100%;
    right: 0;
    background: #D5E9FF;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
    overflow: hidden;
    transition:bottom 500ms, opacity 700ms;
    opacity: 0;
    &._open {
      transition:bottom 1s, opacity 1ms;
      bottom: 0;
      opacity: 1;
    }
  }

  .social-network {
    margin-top: 36px;
    &__link {
      &:nth-child(4){
        margin-right: 0;
      }
    }
  }
}


