@media screen and (max-width: 985px) {
  .footer {
    &__additional-info {
      align-items: flex-start;
    }
  }
}

@media screen and (max-width: 760px) {
  .footer {

    &__line {
      flex-direction: column;
      &:nth-child(1) {
        margin-bottom: 0;
      }
    }
    &__links {
      margin-bottom: 25px;
      min-width: 240px;
      justify-content: space-between;
    }

    &__link {
      font-size: 11px;
      margin-right: 0;
    }

    &__social {
      flex-direction: column;
      align-items: flex-start;
    }
    .social-network {
      margin-bottom: 30px;
    }

    &__contact-us {
      margin-bottom: 21px;
      width: 100%;
      max-width: 280px;
    }

    &__contacts {
      margin-bottom: 17px;
    }

    &__text_mobile {
      font-size: 13px;
    }
    &__text_opacity {
      opacity: .7;
    }
    &__phone {
      margin-bottom: 5px;
    }

    &__work-schedule {
      margin-bottom: 11px;
    }

    &__rating{
      margin-bottom: 6px;
    }
  }
}
