.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  .container {
    width: 100%;
  }

  &__line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &:nth-child(1) {
      margin-bottom: 35px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    max-width: 332px;
  }

  &__link {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
    margin-right: 30px;
    cursor: pointer;
    @include link();
  }

  &__social {
    display: flex;
    align-items: center;
  }

  &__contact-us {
    width: 210px;
    height: 40px;
  }

  &__contacts {
    width: 250px;
  }

  &__text {
    font-size: 14px;
  }

  &__phone {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 23px;
    @include link();
  }

  &__work-schedule-item {
    line-height: 23px;
    margin-bottom: 5px;
  }

  &__additional-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__rating-text {
    display: flex;
    align-items: center;
  }

  &__stars {
    margin-left: 10px;
    display: flex;
    align-items: center;
  }

  &__star {
    margin-right: 3px;
  }
}
