@media screen and (max-width: 1200px) {
  .advantages {

    .container {
      padding: 0;
    }

    &__cards {
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 970px) {
  .advantages {

    &__description {
      margin-bottom: 30px;
    }

    &__cards {
      flex-direction: column;
      margin-top: 24px;

      &:nth-child(4) {
        margin-top: 0;
      }
    }

    &__card {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .advantages {
    margin-bottom: 55px;

    &__description {
      display: none;
    }

    &__card {
      background: transparent;
      box-shadow: none;
      height: auto;
      padding: 0 0 0 30px;
    }

    &__icon {
      left: -33px;
      width: 50px;
    }

    &__card-text {
      max-width: 410px;
      width: 210px;
      min-width: 210px;
      font-size: 14px;
    }
  }
}
