.advantages {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 155px;

  .container {
    width: 100%;
    padding: 0 130px 0 99px;
    box-sizing: border-box;
  }

  &__description {
    margin-bottom: 49px;
    max-width: 580px;
    line-height: 29px;
  }

  &__cards {
    display: flex;
    width: 99%;
    justify-content: space-between;

    &:nth-child(4) {
      margin-top: 50px;
    }
  }

  &__card {
    position: relative;
    background: #ffffff;
    box-shadow: 0 0 40px rgba(118, 157, 202, 0.15);
    border-radius: 10px;
    width: 410px;
    padding: 30px 30px 30px 60px;
    box-sizing: border-box;
    margin-left: 36px;
  }

  &__icon {
    position: absolute;
    left: -35px;
    object-fit: contain;
  }

  &__card-text {
    font-size: 16px;
    width: auto;
    line-height: 24px;
  }
}
