@media screen and (max-width: 1180px) {
  .testimonials {

    &__slider {
      width: 400px;
    }
  }
}

@media screen and (max-width: 775px) {
  .testimonials {

    .container {
      padding: 0;
    }

    &__commas {
      display: none;
    }

    &__slider {
      margin-left: -20px;
      margin-right: -20px;
    }

    &__navigation {
      justify-content: center;
    }

    &__arrow {
      display: none;
    }
    &__background {
      display: none;
    }
  }
}

@media screen and (max-width: 420px) {
  .testimonials {
    margin-bottom: 30px;

    &__slider {
      width: 320px;

    }

    &__card {
      max-width: 280px;
      min-width: 280px;
      padding: 25px 20px;
    }

    &__score {
      margin-bottom: 17px;
    }

    &__card-text {
      font-size: 14px;
      line-height: 21px;
    }

    &__card-author {
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      line-height: 20px;
      margin-top: 12px;
    }

    &__navigation {
      margin-top: 9px;
    }
  }
}
