.testimonials {
  display: flex;
  justify-content: center;
  margin-bottom: 85px;
  position: relative;

  .container {
    width: 100%;
    padding: 0 80px 0 100px;
    box-sizing: border-box;
  }

  &__box {
    width: 98%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__commas {
    object-fit: contain;
    margin-top: 20px;
  }

  &__slider {
    position: relative;
    width: 800px;
    overflow-x: hidden;
  }

  &__slider-content {
    display: flex;
    transition: 2s;
  }

  &__card {
    display: flex;
    flex-direction: column;
    padding:41px;
    box-sizing: border-box;
    max-width: 360px;
    min-width: 360px;
    background: #D5E9FF;
    box-shadow: 0 0 20px rgba(118, 157, 202, 0.15);
    border-radius: 10px;
    margin: 20px;
  }

  &__card_long{
    max-height: 1000px;
  }

  &__score {
    display: flex;
    margin-bottom: 20px;
  }

  &__star {
    margin-right: 3px;
    height: 22px;
    width: 22px;
    object-fit: contain;
  }

  &__card-text {
    font-size: 16px;
    line-height: 26px;
    max-height: 156px;
    overflow: hidden;
    transition: 1s;
  }
  &__card-text_all{
    transition: 2s;
    max-height: 1000px;
  }


  &__show-more {
    display: none;
    margin-top: 10px;
    color: #056CDE;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    &.visible{
      display: block;
    }
  }

  &__card-author {
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }

  &__navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 23px;

    &.invisible {
      display: none;
    }
  }

  &__navigation-point {
    width: 8px;
    height: 8px;
    opacity: .5;
    background: #056CDE;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;

    &.checked {
      opacity: 1;
    }
  }

  &__arrow {
    cursor: pointer;
    margin-top: 0;
  }

  &__arrow_no-active {
    opacity: .5;
    pointer-events: none;
  }

  &__arrow {
    cursor: pointer;

    &:nth-child(1) {
      transform: rotate(180deg);
    }
  }

  &__navigation-points {
    display: flex;
  }

  &__background {
    z-index: 0;
    position: absolute;
    left: 0;
    top: -300px;
  }
}
