@media screen and (max-width: 1176px) {
  .dr-osvaldo {

    .container {
      flex-direction: column;
      align-items: center;
    }

    &__photo {
      margin: -31px 0 23px 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .dr-osvaldo {
    margin-bottom: 52px;
    &__photo {
      width: 100%;
    }

    &__right {
      width: 100%;
    }

    &__text {
      font-size: 15px;
      line-height: 25px;
      max-height: 99px;
      overflow: hidden;
      transition: 500ms;
      margin-top: 14px;
    }
    &__text_all{
      max-height: 300px;
      transition: 500ms;
    }
    &__view-more {
      display: block;
    }
  }
}
