.dr-osvaldo {
  display: flex;
  justify-content: center;
  margin-bottom: 106px;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__photo {
    object-fit: contain;
    max-width: 540px;
    margin: -31px 20px 0 0;
  }

  &__right {
    width: 580px;
  }

  &__text {
    line-height: 29px;
  }
  &__view-more {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #056CDE;
    margin-top: 10px;
    cursor: pointer;
    display: none;
  }
}
