@media screen and (max-width: 1205px) {
  .contact {

    &__text-info {
      padding: 8px 50px 50px 270px;
    }
  }
}

@media screen and (max-width: 726px) {
  .contact {

    &__text-info {
      padding: 60px 50px 73px 35px;
    }

    &__text {
      display: none;
    }

    &__get-direction {
      display: flex;
    }
  }
}

@media screen and (max-width: 450px) {
  .contact {
    margin-bottom: 59px;
    &__title{
      margin: 63px 0 0 0;
    }

    &__text-info {
      padding: 0 20px 40px 20px;
    }

    &__phone {
      font-size: 18px;
      margin: 18px 0 16px 0;
    }

    &__make-an-appointment {
      max-width: 240px;
      width: 100%;
      height: 40px;
    }

    &__letter-picture {
      width: 112px;
      left: 22px;
      top: -21px;
    }

    &__map {
      height: 290px;
    }
  }
}
