.contact {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
 padding-top: 40px;

  .container {
    width: 100%;
  }

  &__text-info {
    position: relative;
    max-height: 440px;
    background: #FFCE51;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    padding: 8px 300px 73px 300px;
    box-sizing: border-box;
  }

  &__title {
    &:before {
      display: none;
    }

    margin: 54px 0 18px 0;
  }

  &__text {
    max-width: 579px;
    line-height: 29px;
  }

  &__phone {
    color: #3A4959;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 24px;
    margin: 24px 0 30px 0;
    letter-spacing: 1px;
  }

  &__make-an-appointment {
    width: 310px;
    height: 50px;
  }

  &__get-direction{
    display: none;
   position: absolute;
    z-index: 100;
    max-width: 240px;
    width: 100%;
    height: 40px;
    bottom: 25px;
  }

  &__letter-picture {
    position: absolute;
    object-fit: contain;
    top: -28px;
    left: 36px;
  }

  &__map {
    height: 400px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }

  #contact__map{
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
  }
}
