@media screen and (max-width: 1030px) {
  .healthy-spine {

    .container {
      justify-content: center;
      align-items: flex-start;
      padding-left: 0;
    }

    &__get-in-touch-now {

      width: 100%;
      max-width: 280px;
      height: 40px;
    }

    .social-network{
      display: none;
    }

    &__right {
      width: 490px;
      justify-content: center;
    }

    &__vector {
      width: 490px;
      top: 0;
    }

    &__bone {
      width: 181px;
      margin-right: 0;
      padding: 0 35px 65px 0;
    }

    &__shadow {
      position: absolute;
      transform: scale(0.6);
      bottom: 65px;
    }
  }
}

@media screen and (max-width: 520px) {
  .healthy-spine {
margin-bottom: 20px;
    .container {
      justify-content: space-between;
    }

    &__left {
      margin-top: 115px;
    }

    &__text{
      font-size: 15px;
      line-height: 25px;
      margin: -3px 0 23px 0;
    }

    &__right {
      position: absolute;
      margin-top:0;
      margin-left: 0;
      right: -55px;
      top: -26px;
      height: 220px;
      width: 244px;
    }

    &__vector {
      height: 220px;
      width: 244px;
      top: 0;
    }

    &__bone {
      width: 108px;
      height: 145px;
      padding: 0 40px 15px 0;
    }

    &__shadow {
      min-height: 14px;
      width: 102px;
      bottom: 20px;
    }
  }
}


