.healthy-spine {
  display: flex;
  justify-content: center;
  margin-bottom: 111px;
  position: relative;

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 100px;
    box-sizing: border-box;
  }

  &__left {
    display: flex;
    flex-direction: column;
    width: 480px;
    position: relative;
  }

  &__text {
    margin: -3px 0 33px 0;
    line-height: 29px;
  }

  &__get-in-touch-now {
   height: 50px;
    width: 310px;
    margin-bottom: 30px;
  }

  .social-network {
    margin: 80px 0 0 7px;
  }

  &__right {
    position: relative;
    height: 504px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -10;
    margin-top: -146px;
    margin-left: 94px;
  }

  &__vector {
    position: absolute;
    top: 19px;
    z-index: 0;
    transition: 0ms;
  }

  &__bone {
    object-fit: contain;
    z-index: 100;
    margin-right: 90px;
    transition: 0ms;
  }

  &__shadow {
    margin-top: 27px;
    min-height: 60px;
    width: 432px;
    background: radial-gradient(50% 50%, rgba(20, 71, 127, 0.08) 0%, rgba(85, 120, 152, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__internal-shadow {
    background: radial-gradient(50% 50%, rgba(20, 71, 127, 0.08) 0%, rgba(85, 120, 152, 0) 100%);
    opacity: 0.4;
  }
}
