@media screen and (max-width: 954px) {
  h1{
    font-size: 28px;
    line-height: 32px;
    margin: 15px 0 18px 0;
    &:before{
      top: -16px;
      height: 3px;
      width: 80px;
    }
  }
  h2{
    font-size: 22px;
    line-height: 25px;
    margin: 18px 0 6px 0;
    &:before{
      top: -18px;
      height: 3px;
      width: 80px;
    }
  }
  h3{
    font-size: 18px;
    line-height: 21px;
  }

  .blue-button{
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  h4{
    font-size: 14px;
    line-height: 21px;
  }
}




