body {
  margin: 0;
  background: #F5FAFF;
  position: relative;
}

#app {
  overflow-x: hidden;
}

h1 {
  font-size: 58px;
  line-height: 67px;
  color: #3A4959;
  margin: 36px 0 30px 0;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  letter-spacing: 1px;

  &:before {
    content: '';
    position: absolute;
    height: 5px;
    width: 110px;
    background: #056CDE;
    border-radius: 10px;
    top: -37px;
  }
}


h2 {
  font-size: 38px;
  color: #3A4959;
  margin: 36px 0 18px 0;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  line-height: 44px;

  &:before {
    content: '';
    position: absolute;
    height: 5px;
    width: 110px;
    background: #056CDE;
    border-radius: 10px;
    top: -37px;
  }
}

h3 {
  font-size: 24px;
  color: #3A4959;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 28px;
  letter-spacing: 1px;
}

h4 {
  font-size: 18px;
  color: #3A4959;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

p, article {
  margin: 0;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #3A4959;
  line-height: 26px;
}

img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}

@mixin link() {
  color: #3A4959;
  &:hover {
    text-decoration: none;
    color: #3A4959;
  }
}

.container {
  max-width: 1180px;
  z-index: 100;
}

.content {
  padding: 0 20px;
}

.yellow-button {
  font-family: 'Open Sans', sans-serif;
  width: fit-content;
  background: #FFCE51;
  border-radius: 10px;
  font-weight: bold;
  color: #3A4959;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(1.02);
    transition: 400ms;
    color: #3A4959;
    text-decoration: none;
  }

  &:active {
    transform: scale(0.98);
    transition: 400ms;
  }
}

.blue-button {
  font-family: 'Open Sans', sans-serif;
  width: fit-content;
  background: #056CDE;
  border-radius: 10px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(1.02);
    transition: 400ms;
    color: #ffffff;
    text-decoration: none;
  }

  &:active {
    transform: scale(0.98);
    transition: 400ms;
  }
}
