<section class="advantages content">
    <div class="container">
        <h2>
            Advantages
        </h2>
        <p class="advantages__description">
            Healthy Spine Family Chiropractic was created for the necessity of custom made chiropractic treatment for
            all ages.
        </p>
        <div class="advantages__cards">
            <div class="advantages__card">
                <img class="advantages__icon" data-src="img/like-3.png">
                <h4>Multi Disciplinary Practice</h4>
                <p class="advantages__card-text">We offer chiropractic, massage and acupuncture.</p>
            </div>
            <div class="advantages__card">
                <img class="advantages__icon" data-src="img/spanish-flag.png">
                <h4>The Doctor Speaks Spanish</h4>
                <p class="advantages__card-text">We strive to provide complete care for our patients. We speak English
                    and Spanish.</p>
            </div>
        </div>
        <div class="advantages__cards">
            <div class="advantages__card">
                <img class="advantages__icon" data-src="img/award.png">
                <h4>Over 10 Years of Experience</h4>
                <p class="advantages__card-text">The Doctor has 10+ years of experience in the chiropractic.</p>
            </div>
            <div class="advantages__card">
                <img class="advantages__icon" data-src="img/shield-2.png">
                <h4>Insurance</h4>
                <p class="advantages__card-text">We accept most insurance and file the claims for you.</p>
            </div>
        </div>
    </div>
</section>
