<section class="article">
    <div class="container">
        <img class="article__photo" data-src="img/Rectangle%202.png">
        <div class="article__right">
            <h2>Comprehensive Pain Treatment</h2>
            <article class="article__text">Healthy Spine Family Chiropractic was created for the necessity of custom made
                chiropractic treatment for
                all ages. We understand that not all bodies are the same and so your chiropractic treatment will be
                tailored to you. Healthy Spine Family Chiropractic was created for the necessity of custom made
                chiropractic treatment for all ages. We understand that not all bodies are the same and so your
                chiropractic treatment will be tailored to you. Healthy Spine Family Chiropractic was created for the
                necessity of custom made chiropractic treatment for all ages. We understand that not all bodies are the
                same and so your chiropractic treatment will be tailored to you.</article>
            <button class="yellow-button article__learn-more">Learn more</button>
        </div>
    </div>
    <img class="article__background" data-src="img/Vector%20(2).png">
</section>
