<section class="contact content">
    <div class="container">
        <div class="contact__text-info">
            <h1 class="contact__title">Contact Us Today</h1>
            <p class="contact__text">We are happy to assist you with any questions you may have regarding your chiropractic needs or insurance
                questions. You can make an appointment online or by giving us a call at</p>
            <a class="contact__phone" href="tel:(303)457-2040">(303) 457-2040</a>
            <a href="#" class="blue-button contact__make-an-appointment">Make an Appointment</a>
            <img class="contact__letter-picture" data-src="img/Group%207.png">
        </div>
        <div class="contact__map">
            <div id="contact__map"></div>
            <a href="#" class="yellow-button contact__get-direction">Get Direction</a>
        </div>
    </div>
</section>


