<section class="dr-osvaldo content">
    <div class="container">
        <img class="dr-osvaldo__photo" data-src="img/Group@2x.png">
        <div class="dr-osvaldo__right">
            <h2>Dr. Osvaldo «Ozzie» Gratacos</h2>
            <article class="dr-osvaldo__text dr-osvaldo__text_js">Dr. Osvaldo “Ozzie” Gratacos is a licensed chiropractor serving the Thornton and
                surrounding communities.
                Dr. Gratacos graduated from Palmer College of Chiropractic in Florida. After graduating, Dr. Gratacos
                went back to his home in Puerto Rico to open a practice for 4 years before practicing in Lakewood,
                Colorado. He is bilingual (spanish/english). Ozzie is certified in extremity adjustments, treatment in
                golf related injuries, and Cox technique for herniated disc. </article>
            <div class="dr-osvaldo__view-more dr-osvaldo__view-more_js">View More</div>
        </div>
    </div>
</section>
