<footer class="footer content">
    <div class="container">
        <div class="footer__line">
            <div class="footer__links">
                <a class="footer__link" href="#">Our Story</a>
                <a class="footer__link" href="#services">Services</a>
                <a class="footer__link" href="#">FAQ</a>
                <a class="footer__link" href="#contact">Contact</a>
            </div>
            <div class="footer__social">
                //= SocialNetwork.html
                <a class="yellow-button footer__contact-us" href="#contact">Contact Us</a>
            </div>
        </div>
        <div class="footer__line">
            <div class="footer__contacts">
                <a class="footer__phone" href="tel:(303)457-2040">(303) 457-2040</a>
                <p class="footer__text">10313 Washington St., Thornton, CO 80229</p>
            </div>
            <div class="footer__work-schedule">
                <p class="footer__work-schedule-item footer__text">Monday, Wednesday, Thursday — 9:00 AM - 6:00 PM</p>
                <p class="footer__work-schedule-item footer__text">Friday — 9:00 AM - 1:00 PM</p>
                <p class="footer__work-schedule-item footer__text">Saturday — 10:00 AM - 1:00 PM</p>
            </div>
            <div class="footer__additional-info">
                <div class="footer__rating">
                    <p class="footer__rating-text footer__text footer__text_mobile">
                        Company rating:
                    </p>
                    <div class="footer__stars">
                        <img class="footer__star" data-src="img/Star.png">
                        <img class="footer__star" data-src="img/Star.png">
                        <img class="footer__star" data-src="img/Star.png">
                        <img class="footer__star" data-src="img/Star.png">
                        <img class="footer__star" data-src="img/Star.png">
                    </div>
                </div>
                <p class="footer__text footer__text_mobile footer__text_opacity">© Copyright — Healthy Spine Family Chiropractic 2019</p>
                <p class="footer__text footer__text_mobile footer__text_opacity">Web Design — Direct Line Development</p>
            </div>
        </div>
    </div>
</footer>
