<header class="header content">
        <div class="container">
            <div class="header__part">
                <img src="img/logo.png" class="header__logo"/>
                <nav class="header__links header__links_desktop">
                    <a class="header__link" href="#">our story</a>
                    <a class="header__link" href="#services">services</a>
                    <a class="header__link" href="#">faq</a>
                    <a class="header__link" href="#contact">contact</a>
                </nav>
            </div>
            <div class="header__part">
                <a class="header__phone" href="tel:(303)457-2040">(303) 457-2040</a>
                <a class="yellow-button header__schedule-appointment header__schedule-appointment_desktop" href="#schedule">schedule appointment</a>
                <div class="header__button-open-menu" id="header__button-open-menu_js">
                    <div class="header__cross-line header__cross-line_js"></div>
                    <div class="header__cross-line header__cross-line_js"></div>
                    <div class="header__cross-line header__cross-line_js"></div>
                </div>
            </div>
        </div>
    <div class="header__mobile-menu" id="header__mobile-menu_js">
        <nav class="header__links header__links_mobile">
            <a class="header__link header__link_mobile header__link_js" href="#">our story</a>
            <a class="header__link header__link_mobile header__link_js" href="#services">services</a>
            <a class="header__link header__link_mobile header__link_js" href="#">faq</a>
            <a class="header__link header__link_mobile header__link_js" href="#contact">contact</a>
        </nav>
        <a class="yellow-button header__schedule-appointment header__link_js" href="#schedule">schedule appointment</a>
        //= SocialNetwork.html
    </div>
</header>

