<section class="healthy-spine content">
    <div class="container">
        <div class="healthy-spine__left">
            <h1>Healthy Spine Family Chiropractic</h1>
            <p class="healthy-spine__text">
                Healthy Spine Family Chiropractic was created for the necessity of custom made chiropractic treatment
                for
                all ages. We understand that not all bodies are the same.
            </p>

            <a class="blue-button healthy-spine__get-in-touch-now" href="#contact">Get In Touch Now</a>
            //= SocialNetwork.html
        </div>
        <div class="healthy-spine__right">
            <img class="healthy-spine__vector" src="img/Vector%20(5).png">
            <img class="healthy-spine__bone" src="img/image.png">
            <div class="healthy-spine__shadow">
                <div class="healthy-spine__internal-shadow"></div>
            </div>
        </div>
    </div>
</section>
