<section class="services content">
    <div class="container">
        <h2>Services</h2>
        <div class="services__cards">
            <div class="services__box">
                <div class="services__card services__card_js">
                    <img class="services__card-image" data-src="img/Rectangle%203.4.png">
                    <div class="services__text-content">
                        <h3 class="services__card-title services__card-title_js">Chiropractic</h3>
                        <p class="services__text">Chiropractic care is a unique science that focuses on restoring and
                            maintaining health, while
                            most
                            other healing arts are designed to treat disease.</p>
                        <a class="services__link">Chiropractic Adjustment</a>
                        <a class="services__link">Flexion-distraction</a>
                        <a class="services__link">Thompson</a>
                        <a class="services__link">View All Services</a>
                    </div>
                </div>
                <div class="services__card services__card_js">
                    <img class="services__card-image" data-src="img/Rectangle%203.6.png">
                    <div class="services__text-content">
                        <h3 class="services__card-title services__card-title_js">Massage</h3>
                        <p class="services__text">Healthy Spine Family Chiropractic, serves the Thornton and surrounding
                            communities and it
                            provides a
                            natural, conservative approach to your health care.</p>
                        <a class="services__link">Deep Tissue</a>
                        <a class="services__link">Trigger Point</a>
                        <a class="services__link">Sport Massage</a>
                        <a class="services__link">Myofascial Release</a>
                    </div>
                </div>
            </div>
            <div class="services__card services__card_js services__card_right">
                <img class="services__card-image" data-src="img/Rectangle%203.12.png">
                <div class="services__text-content">
                    <h3 class="services__card-title services__card-title_js">Acupuncture</h3>
                    <p class="services__text">Healthy Spine Family Chiropractic, serves the Thornton and surrounding
                        communities and it
                        provides a
                        natural, conservative approach to your health care.</p>
                    <a class="services__link">Cupping</a>
                    <a class="services__link">Chinese Herbs</a>
                </div>
            </div>
        </div>
    </div>
    <img class="services__background" data-src="img/Vector.png">
</section>

