<div class="social-network">
    <a class="social-network__link" href="https://www.pinterest.ru/"> <img class="social-network__icon" data-src="img/Pinterest.png"></a>
    <a class="social-network__link" href="https://www.instagram.com/"> <img class="social-network__icon" data-src="img/Instagram.png"></a>
    <a class="social-network__link" href="https://twitter.com/"> <img class="social-network__icon" data-src="img/twetter.png"></a>
    <a class="social-network__link" href="https://www.facebook.com/"> <img class="social-network__icon" data-src="img/facebook.png"></a>
</div>
