<section class="testimonials content">
    <div class="container">
        <h2>Testimonials</h2>
        <div class="testimonials__box">
            <img class="testimonials__commas" data-src="img/Urban%20&%20New%20Architec.png">
            <div class="testimonials__slider">
                <div class="testimonials__slider-content" id="testimonials__slider-content_js">
                    <div class="testimonials__card testimonials__slider-card_js">
                        <div class="testimonials__score">
                            <img class="testimonials__star" data-src="img/Star.png">
                            <img class="testimonials__star" data-src="img/Star.png">
                            <img class="testimonials__star" data-src="img/Star.png">
                            <img class="testimonials__star" data-src="img/Star.png">
                            <img class="testimonials__star" data-src="img/Star.png">
                        </div>
                        <p class="testimonials__card-text testimonials__card-text_js">I first visited Dr Ozzie after a
                            sports injury took me out of the game. Dr. Gratacos helped me – not just by relieving my
                            pain, but by showing me how to avoid future injuries. Now I know what not to do so I can
                            keep keep keep keep keep keep keep keep keep</p>
                        <div class="testimonials__show-more testimonials__show-more_js">View More</div>
                        <span class="testimonials__card-author">Tony D.</span>
                    </div>
                    <div class="testimonials__card testimonials__slider-card_js">
                        <div class="testimonials__score">
                            <img class="testimonials__star" data-src="img/Star.png">
                            <img class="testimonials__star" data-src="img/Star.png">
                            <img class="testimonials__star" data-src="img/Star.png">
                            <img class="testimonials__star" data-src="img/Star.png">
                            <img class="testimonials__star" data-src="img/Star.png">
                        </div>
                        <p class="testimonials__card-text testimonials__card-text_js">Absolutely amazing staff! I will
                            never go anywhere else to get my back and neck fixed! Came in after an auto accident and had
                            me feeling better by the next week! I will recommend to everyone I know!</p>
                        <a class="testimonials__show-more">View More</a>
                        <div class="testimonials__show-more testimonials__show-more_js">View More</div>
                        <span class="testimonials__card-author">Christopher C.</span>
                    </div>
                </div>
                <nav class="testimonials__navigation" id="testimonials__navigation_js">
                    <img class="testimonials__arrow testimonials__arrow_no-active" id="testimonials__arrow-to-left_js"
                         data-src="img/Vector%202.1.png">
                    <div class="testimonials__navigation-points" id="testimonials__navigation-points_js"></div>
                    <img class="testimonials__arrow" id="testimonials__arrow-to-right_js"
                         data-src="img/Vector%202.1.png">
                </nav>
            </div>


        </div>
    </div>
    <img class="testimonials__background" data-src="img/Vector%20(2).png">
</section>


